body{
        font-family: 'Poppins', sans-serif;
}
h1{
        font-size: 50px;
}
.orange-color{
        color: rgb(195, 129, 6);
}
.button{
        text-decoration: none;
        padding: 10px 40px;
        font-weight: 700;
        color: azure;
        background-image: linear-gradient(orange,tomato);
        border-radius: 10px;
}
.header-part{
        display: flex;
        justify-content: center;
        
        
}
.text-part{
        width: 40%;
        padding: 2%;
        
}
.image-part{
       width: 60%;
       margin-left: 50px;
        
       
}
.top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
        
        margin-bottom: 100px;
}
.dream-big{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
}
.footer-part{
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
}
.left-box{
        border-left: 5px solid;
        border-color: rgb(185, 51, 28);
        width: 45%;
        margin-left: 2.55%;
        margin-right: 2.5%;
        padding: 15px;
        box-shadow: 10px 10px 5px #888888;
      
}
.right-box{
        border-left: 5px solid;
        border-color: blue;
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        padding: 15px;
        box-shadow: 10px 10px 5px #888888;
}
.finishing-line{
        text-align: center;
        margin-top: 200px;
}